{% extends "layouts/base.html" %}

{% block title %}Subscribers Delete{% endblock %}

{% block header %}{% include 'header.html' %}{% endblock %}
{% block sidebar %}{% include 'sidebar.html' %}{% endblock %}

{%block content %}
	<section class="content-header">
      <h1>
        Subscriber
        <small>Delete</small>
      </h1>
    </section>
    
	<section class="content">
		<div class="row">
			<div class="col-lg-8 col-sm-8">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">{{ object.name }}</h3>
					</div>
					<div class="box-body">
						<form action="" method="post">
						    <p>Are you sure you want to delete "{{ object.name }}"?</p>
							{% csrf_token %}
						    <input type="submit" value="Confirm" class="btn btn-danger"/>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}