{% extends "layouts/base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block title %}Custom Field{% endblock %}

{% block head %}
{{ form.media }}
{% endblock %}

{% block header %}{% include 'header.html' %}{% endblock %}
{% block sidebar %}{% include 'sidebar.html' %}{% endblock %}

{% block content %}
	<section class="content-header">
      <h1>
        Custom Field
        <small>{% if edit %}Edit{% else %}Add new{% endif %}</small>
      </h1>
    </section>
	<section class="content">
		<form role="form" action="" method="POST">
			<div class="row">
				<div class="col-lg-8 col-sm-8">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Custom Field Details</h3>
						</div>
						<div class="box-body">
							{{ form.incident_type }}
							<div class="form-group">
								<label for="{{ form.name.id_for_label}}">{{ form.name.label }}</label>
								{{ form.name|add_class:"form-control" }}
								{{ form.name.errors }}
							</div>
							<div class="form-group">
								<label for="{{ form.type.id_for_label}}">{{ form.type.label }}</label>
								{{ form.type|add_class:"form-control" }}
								{{ form.type.errors }}
							</div>
							<div class="form-group">
								<label for="{{ form.description.id_for_label}}">{{ form.description.label }}</label>
								{{ form.description|add_class:"form-control" }}
								{{ form.description.errors }}
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Actions</h3>
						</div>
						<div class="box-body">
							{% csrf_token %}
  							<button class="btn btn-primary" type="submit">Save</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
{% endblock %}

{% block script %}

{% endblock %}